/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    /* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
html{
    font-size: 100%;
}
body{
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../assets/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
    padding: 5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.container{
    width: 100%;
    max-width: 26.875rem;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    border-radius: 1.5em;
}
.container__header__img{
    width: 100%;
}
.padding{
    padding-inline: 1.5em;
}
.container__second-section{
    margin-inline: 2em;
}
.container__second-section__title{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 1em 0;
}
.container__second-section__text{
    color: var(--Desaturated-blue);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
}
.container__plan-section{
    background-color: var(--Very-pale-blue);
    border-radius: 1em;
    padding: 1em;
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__plan-section__icon-plan{
    display: flex;
    gap: 1em;
}
.container__plan-section__plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__plan-section__plan__title, .container__plan-section__plan__price{
    font-size: 1rem;
    margin: 0;
}
.container__plan-section__plan__title{
    color: var(--Dark-blue);
    font-weight: 900;
}
.container__plan-section__plan__price{
    color: var(--Desaturated-blue);
}
.container__plan-section__change-btn{
    color: var(--Bright-blue);
    font-weight: 900;
}
.container__plan-section__change-btn:hover{
    transition: all .2s ease;
    opacity: .75;
    text-decoration: none;
}
.container__payment-btn-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.container__payment-btn-section__proceed{
    color: #fff;
    background-color: var(--Bright-blue);
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: .75em;
    padding: 1em 0;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, .1);
}
.container__payment-btn-section__proceed:hover{
    transition: all .2s ease;
    opacity: .75;
}
.container__payment-btn-section__cancel{
    color: var(--Dark-blue);
    text-decoration: none;
    font-weight: 900;
    margin: 2em 0 3em;
    opacity: .5;
}
.container__payment-btn-section__cancel:hover{
    transition: all .2s ease;
    opacity: 1;
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: var(--Bright-blue);
    font-weight: 700;
}
.attribution a:hover{
    transition: all .2s ease;
    opacity: .75;
}
@media(min-width: 48rem) {
    body{
        background-image: url(../assets/images/pattern-background-desktop.svg);
        background-size: 100% 50vmin;
        padding: 0;
    }
    .padding{
        padding-inline: 3em;
    }
}